.hidden{
  display: none;
}

.visible{
  display: inline;
}

.selectList{
  width: 80%;
}

.resultsDiv{
  padding-top: 3em
}

.progress-bar{
  color: white !important;
  float: right;
}

.form-control{
  width: 90%;
}
